body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

input {
  padding: 10px;
  width: 220px;
}

button {
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.recipe-details {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.recipe-details img {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}

.recipe-details ul {
  text-align: left;
  display: inline-block;
}

.recipe-details p {
  text-align: left;
  line-height: 1.5;
}

.recipe-details button {
  margin-top: 20px;
}